---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				This a site for fans of Reba Meyers, of Code Orange Kids & Code Orange.
				Reba has a new solo project, which is the main focus of this site.
				She also plays guitar for Marilyn Manson, now.
			</p>
			<p>
				If you have a story about seeing a show of hers, either recently or in
				the distant past, you can submit it to fans@rebameyersfans.net and I will
				consider posting it in the blog. For credit, include your name or pen name.
				I will link to your personal website or portfolio. However, I will not link
				to any Meta product such as a Facebook page or Instagram account, because this
				is an independent internet site. We aren't owned by Meta's algorithms here and
				won't contribute to internet consolidation. You should have your own website.
				It's very easy and costs like $10 and 20 minutes. I will make a blog post about
				how to do it later.
		</main>
		<Footer />
	</body>
</html>
